{{>head }}
{{>navbar }}

<div class="row">
    <div class="col-xs-10 col-md-10 col-lg-10 col-sm-10">
        <h1>Coca Cola</h1>
        <p>Coca Cola es un refresco embotellado muy famoso que surgio cuando se intentaba crear un jarabe para la tos, es un refresco para toda la familia</p>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-2 col-sm-2">
        <img src="/assets/img/coca cola.jpg" class="img-thumbnail" alt="">
    </div>

</div>

{{>footer }}